

.widget_pages .widget-title {
  margin-bottom: 17px;
}

.widget_pages{

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul li a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: #222;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    transition: all 0.5s linear;
  }
  ul li a::before {
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='none' stroke='%23000' stroke-width='1.1' points='8.5 7 13.5 10 8.5 13'%3E%3C/polygon%3E%3Ccircle fill='none' stroke='%23000' stroke-width='1.1' cx='10' cy='10' r='9'%3E%3C/circle%3E%3C/svg%3E");
    font-size: 17px;
    content: '';
    transition: all 0.5s linear;
  }
  ul li a:hover,
  ul li a:focus,
  ul li a:active,
  ul li a.nice-select.open {
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    color: #F46119;
    text-decoration: none;
    transition: all 0.5s linear;
  }
  ul li a:hover::before,
  ul li a:focus::before,
  ul li a:active::before,
  ul li a.nice-select.open::before {
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='none' stroke='%23efb007' stroke-width='1.1' points='8.5 7 13.5 10 8.5 13'%3E%3C/polygon%3E%3Ccircle fill='none' stroke='%23efb007' stroke-width='1.1' cx='10' cy='10' r='9'%3E%3C/circle%3E%3C/svg%3E");
    transition: all 0.5s linear;
  }
  ul{
    >li{
      position: relative;
      &:first-child{
        border-top: 0px solid;
      }
      &:last-child{
        padding-bottom: 0px;
      }
      span{
        position: absolute;
        top: 9px;
        right: 0;
        min-width: 23px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        line-height: 1;
        color: #777777;
        border-radius: 3px;
        transition: .3s ease-in;
        font-size: 16px;
        &:before{
          content: '(';
        }
        &:after{
          content: ')';
        }
      }
      ul{
        margin-left: 18px;
        li{
          border: 0px;
          a{
            font-size: 14px;
            &:hover, &:focus, &:active{
              &:before{
                background-image: unset;
                color: inherit;
              }
            }
            &:before{
              background-image: unset;
              text-align: center;
              margin-top: 0;
              content: '-';
              position: relative;
              margin-right: 5px;
              top: 0;
              font-size: 14px;
              line-height: 22px;
              letter-spacing: 5px;
              width: fit-content;
            }
          }
          span{
            top: 6px;
            font-size: 14px;
          }
        }
        ul{
          li{
            a{
              &:before{
                content: '--';
              }
            }
          }
        }
      }
    }
  }
}