.fl-list{
	.fl-list-ul{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin-bottom: 0;
		li{
			color: #253241;
			display: inline-block;
			width: 50%;
			margin-left: 0;
			list-style: none;
			i{
				margin-right: 8px;
			}
		}
	}
}