.fl-vc-custom-title-container{
  .vc-default-title{
    color: #2d3542;
  }
  // Custom Title
  .custom-title-content-wrapper{
    color: #2d3542;
    .fl-subtitle-vc{
      font-size: 12px;
    }
    .fl-title-vc{
      font-size: 40px;
    }
  }
}