@keyframes navspinv {
  0% {
    transform: translate3d(0, -10%, 0);
  }

  50% {
    transform: translate3d(0, 10%, 0);
  }

  100% {
    transform: translate3d(0, -10%, 0);
  }
}





.nav_style_one .menu{
  .has-submenu{
    ul.sub-nav{
      .sub-nav-item.has-submenu{
        > a{
          position: relative;
          display: block;
          margin: 4px 0;
          &:before{
            content: "\f107";
            display: inline-block;
            width: 0;
            height: 0;
            position: absolute;
            top: 15px;
            right: 0px;
            transform: rotate(270deg);
            font: normal normal normal 15px/1 FontAwesome;
            color: #333333;
            opacity: 0.7;
          }
        }


        .sub-menu.double-sub-menu{
          z-index: 999;
          display: flex;
          position: absolute;
          width: inherit;
          left: 145px;
          top: -23px;
          visibility: hidden;
          opacity: 0;
          transition: .3s ease-in-out;
          flex-direction: column;
          text-align: left;
          padding: 25px 25px;
          background: #fff;
          min-width: 160px;
          box-shadow: 0 10px 30px rgba(0, 0, 0, .15);

          &:before{
            content: '';
            position: absolute;
            border: 10px solid transparent;
            border-right: 11px solid #fff;
            opacity: 1;
            top: 25px;
            left: -20px;
            width: fit-content;
            margin: auto;
            transition: all .3s ease-in-out;
          }

        }
        &:hover{
          .sub-menu.double-sub-menu{
            transition: .3s ease-in-out;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}




.page-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  .page-header__inner{
    .page-header__logo{
      a{
        color: #222;
      }
      .logo{
        .logotype-text{
          color: #222;
          line-height: 50px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

.page-header__logo {
  margin-right: auto;
  padding-top: 22px;
  padding-bottom: 22px;
}
.logo {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.logo img {
  display: block;
  position: relative;
}
.logo span {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  display: inline-block;
  position: relative;
  margin-left: 15px;
  transform: translateY(2px);
  color: #555;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}




.page-header__mainmenu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 75px;
  padding: 0 45px;
}
.page-header__mainmenu .uk-navbar-nav > li > a {
  -webkit-transition: all 0.3 linear;
  -o-transition: all 0.3 linear;
  min-height: 50px;
  color: #222;
  font-family: Barlow;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
  transition: all 0.3 linear;
  &:hover{
    color: #555555;
  }
}
.page-header__mainmenu{
  .uk-navbar-nav{
    .sub-menu .sub-nav-item{
      a.sub-menu-link{
        transition: all 0.3 linear;
        &:hover{
          color: #555555!important;
        }
      }
    }
  }
}
.page-header__mainmenu .uk-navbar-nav > li > a:hover {
  color: #F46119;
}
.page-header__mainmenu .uk-navbar-nav > li > a::before {
  display: none;
  position: relative;
  content: '[';
}
.page-header__mainmenu .uk-navbar-nav > li > a::after {
  display: none;
  position: relative;
  content: ']';
}
.page-header__mainmenu .uk-navbar-nav > li > a span {
  display: block;
  position: relative;
}

.page-header__mainmenu .uk-navbar-nav > li.has-submenu > a span {
  padding-right: 20px;
}





.page-header__mainmenu .uk-navbar-nav > li > a span::before {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translateX(-50%);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='10.5,16.08 5.63,10.66 6.37,10 10.5,14.58 14.63,10 15.37,10.66'%3E%3C/polygon%3E%3Cline fill='none' stroke='%23000' x1='10.5' y1='4' x2='10.5' y2='15'%3E%3C/line%3E%3C/svg%3E");
  content: '';
  opacity: 0;
  animation: navspinv 1.4s infinite linear;
  margin-left: -10px;
}

.page-header__mainmenu .uk-navbar-nav > li.has-submenu > a span::after {
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  display: block;
  position: absolute;
  top: 50%;
  right: 16px;
  width: 7px;
  height: 7px;
  margin-top: -4px;
  transform: rotate(45deg);
  transform-origin: 66% 66%;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  content: '';
  pointer-events: none;
  transition: all 0.15s ease-in-out;
  position: absolute;
  right: 3px;
}

.page-header__mainmenu .uk-navbar-nav > li.has-submenu.current-menu-item > a span {
  padding-right: 0px;
}

.page-header__mainmenu .uk-navbar-nav > li.has-submenu.current-menu-item > a span::after {
  content: none;
}


.page-header__mainmenu .uk-navbar-nav > li.current-menu-item > a {
  color: #F46119;
}
.page-header__mainmenu .uk-navbar-nav > li.current-menu-item > a:before,
.page-header__mainmenu .uk-navbar-nav > li.current-menu-item > a:after {
  display: inline-block;
}
.page-header__mainmenu .uk-navbar-nav > li.current-menu-item > a span::before {
  opacity: 1;
}
.page-header__mainmenu .uk-navbar-nav .uk-navbar-dropdown {
  width: 250px;
  .uk-navbar-dropdown-nav{
    a{
      font-size: 16px;
      line-height: 25px!important;
      color: #222!important;
    }
  }
}

#tm-inline-content{
  display: none;
}


input.uk-search-input{
  border-color: unset;
  -webkit-box-shadow: unset!important;
  box-shadow: unset !important;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
  &:hover, &:focus, &:active{
    border-color: unset;
    -webkit-box-shadow: unset!important;
    box-shadow: unset !important;
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
  }
}


#modal-search-full{
  form.search_global{
    display: inline-block;
    width: 100%;
    max-width: 95%;
    transform: translateY(size_px2rem(-30px));
    .row{
      align-items: center;
      justify-content: center;
      div{
        position: relative;
        width: 40%;
        input{
          height: 57px;
          padding-left: 30px;
          display: block;
          width: 100%;
          background-color: #ffffff;
          border: 1px solid #e5e5e5;
        }
        button.wp-block-search__button{
          color: transparent;
          border: 0px;
          background: transparent;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 0;
          border-left: 1px solid #dddddd;
          height: 24px;
          padding: 2px 0.174em;
          &:before{
            content: "";
            background-image: url(../../css/images/search.svg);
            color: #222;
            width: 20px;
            height: 20px;
            display: block;
            margin: auto;
          }
        }
      }

    }
  }
}



.page-header__search .uk-search-icon svg {
  width: 24px;
  height: 24px;
}
.tm-search-block-disable{
  .page-header__contacts{
    border-left: unset;
  }
}

.page-header__contacts {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  border-left: 1px solid #eee;
}

.page-header__mobile-menu-btn {
  display: none;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.page-header__mobile-menu-btn button {
  border: none;
  background: none;
}
.page-header__mobile-menu-btn button svg {
  width: 30px;
  height: 30px;
}

.uk-navbar-nav{
  .nav-item{
    .uk-navbar-dropdown{
      .sub-menu{
        .sub-nav-item{
          &.has-submenu{
            position: relative;
            &:hover{

              .double-sub-menu{
                opacity: 1;
                z-index: 1020;
              }
            }
            .sub-menu-link{
              position: relative;
              &:after{
                -webkit-transform-origin: 66% 66%;
                -ms-transform-origin: 66% 66%;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -webkit-transition: all 0.15s ease-in-out;
                -o-transition: all 0.15s ease-in-out;
                display: block;
                position: absolute;
                width: 6px;
                height: 6px;
                margin-top: -3px;
                transform: rotate(-45deg);
                transform-origin: 66% 66%;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                content: '';
                pointer-events: none;
                transition: all 0.15s ease-in-out;
                position: absolute;
                right: 0;
              }
            }
            ul.sub-menu{
              li.sub-nav-item{
                a{
                  &:after{
                    content: none;
                  }
                }
              }
            }
          }
          .double-sub-menu{
            position: absolute;
            box-sizing: border-box;
            width: 250px;
            padding: 25px 30px;
            background: #fff;
            color: #666;
            box-shadow: 0 5px 12px rgba(0, 0, 0, .15);
            right: -285px;
            top: -20px;
            opacity: 0;
            z-index: -1;
            transition: all .3s ease-in-out;
            li{
              a{
                font-size: 18px;
                padding: 5px 0;
              }
            }
          }
        }
      }
    }
  }
}


.tm_navigation_style_two{
  .page-header__search{
    &.youzify_isset{
      justify-content: flex-end;
    }
  }
  .page-header__user{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    .uk-icon-button{
      background: transparent;
      color: inherit;
      svg{
        width: 24px;
        height: 24px;
      }
    }
  }
}



.sidebar.is-hide{
  .sidebar-box{
    .widget{
      .widget--title{
        visibility: hidden;
        height: 28px;
        overflow: hidden;
      }
      .uk-nav-devider{
        display: block;
      }
    }
  }
}
.sidebar-box{
  .widget{
    position: relative;
    &.widget_nav_menu{
      .uk-nav-devider{
        min-height: 16px;
        position: absolute;
        border-bottom: 1px solid #ddd;
        width: 30px;
        margin: auto;
        left: 0;
        right: -5px;
        display: none;
      }
      .widget--title{
        margin-top: 10px;
        padding-left: 30px;
        color: #1f1f1f;
        font-family: 'Inter', serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.33;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-bottom: 0px;
        visibility: visible;

      }
      ul{
        padding: 0px;
        overflow: auto;
        width: 210px;
        &::-webkit-scrollbar{
          width: 6px;
        }
        &::-webkit-scrollbar-track{
          background-color: #fdfdfd;

        }
        &::-webkit-scrollbar-thumb{
          background-color: #E2EBEC;
        }
        li{
          margin-top: 0px;
          &:before{
            content: none;
          }
          a{
            display: flex;
            color: #323F4B;
            padding-left: 30px;
            span{
              font-weight: 400;
              font-size: 13px;
              z-index: 1;
            }
            &:hover{
              color: #F46119;
            }
          }
        }
      }
    }

  }

  .widget + .widget{
    margin-bottom: 0px;
  }
}






.fl-mega-menu {
  font-size: 13px;
  ul {
    //Mega menu item disable
    >li:not(.mega-menu-item) {
      .sub-nav{
        .sub-menu {
          li{
            a{
              i{
                margin-right: 10px;
              }
            }
            &:last-child {
              a {
                padding-bottom: 0;
              }
            }
          }
          .double-sub-menu {
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            border: 1px solid #eaeaeb;
            padding: 15px 0;
            background: #fff;
            transition: .3s ease-in-out;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: -16px;
            left: 100%;
            margin-left: 5px;
            transform: translateX(-30px);
            &.sub-nav-left {
              z-index: 1001;
              left: auto;
              margin-right: 5px;
              right: 100%;
              transform: translateX(30px);
            }
          }
        }
        li{
          &.has-submenu {
            >a{
              &:before{
                content: "\f107";
                display: inline-block;
                width: 0;
                height: 0;
                position: absolute;
                top: 21px;
                right: 25px;
                transform: rotate(270deg);
                font: normal normal normal 15px/1 FontAwesome;
                color: #333333;
                opacity: 0.7;
              }
            }
            &:hover {
              >.double-sub-menu {
                transition: .3s ease-in-out;
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
    //depth-0 style
    li.menu-item-depth-0 {
      &:hover{
        &:not(.not-hover){
          >a{
            &:before{
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }
      }
      > a {
        position: relative;
        color: #222;
        opacity: 0.9;
        &:hover{
          color: #F46119;
        }
        &:before{
          position: absolute;
          left: 18px;
          bottom: 6.25px;
          content: none;
          height: 2px;
          width: calc(100% - 36px);
          transform: scaleX(0);
          transform-origin: right;
          transition: transform .2s ease-out,-webkit-transform .2s ease-out;
        }
      }
      &.has-submenu {
        padding-right: 11px;
        &:hover{
          .sub-menu{
            display: flex;
          }
        }
        > a {
          &:after {
            content: "\f107";
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            font: normal normal normal 15px/1 FontAwesome;
            position: relative;
            margin-left: 6px;
            bottom: 9px;
            transform: translateY(-50%);
            font-weight: 900;
          }
        }
      }
      &:last-child{
        a{
          padding-right: 0;
          &:before{
            width: calc(100% - 18px);
          }
        }
      }
    }
    // Default Style
    li {
      padding: 0;
      margin: 0 12.5px;
      position: relative;
      display: inline-block;
      font-size: 13px;
      a {
        transition: .3s ease-in-out;
        position: relative;
        white-space: nowrap;
        i{
          margin-right: 8px;
          font-size: 12px;
          &.disable{
            display: none;
          }
        }
        &:hover{
          transition: .3s ease-in-out;
        }
      }
      &.has-submenu {
        .sub-nav {
          z-index: 999;
          display: flex;
          position: absolute;
          width: inherit;
          left: -10px;
          top: 45px;
          visibility: hidden;
          opacity: 0;
          transform: translateY(30px);
          transition: .3s ease-in-out;
          flex-direction: column;


          &:before{
            content: '';
            position: absolute;
            border: 10px solid transparent;
            border-bottom: 11px solid #fff;
            opacity: 1;
            top: -20px;
            left: -80px;
            right: 0;
            width: fit-content;
            margin: auto;
            transition: all .3s ease-in-out;
          }
          &.open {
            transition: .3s ease-in-out;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
          > .sub-menu {
            text-align: left;
            box-shadow: 0 10px 30px rgba(0, 0, 0, .6);
            padding: 25px 10px;
            background: #fff;




            li {
              display: block;
              margin: 0px;
              a {
                padding: 0 60px 10px 25px;
                width: 100%;
                min-width: 170px;
                display: block;
                position: relative;
                text-transform: none;
                border-bottom: none;
                line-height: 32px;
                transition: all .3s ease-in-out;
                &:hover{
                  color: #F46119!important;
                }
              }
            }
          }
        }
      }

    }
    // Mega MENU
    >li{
      &.mega-menu-item {
        .sub-nav {
          > ul {
            > li {
              display: block;
              > ul {
                li {
                  display: block;
                }
              }
            }
          }
          > ul {
            &.max-columns-1 {
              > li {
                display: block;
              }
            }
            &.max-columns-2 {
              > li {
                display: inline-block;
                float: left;
                &:nth-child(3n) {
                  clear: left;
                }
              }
            }
            &.max-columns-3 {
              > li {
                display: inline-block;
                float: left;
                &:nth-child(4n) {
                  clear: left;
                }
              }
            }
            &.max-columns-4 {
              > li {
                display: inline-block;
                float: left;
                &:nth-child(5n) {
                  clear: left;
                }
              }
            }
            &.max-columns-5 {
              > li {
                display: inline-block;
                float: left;
                &:nth-child(6n) {
                  clear: left;
                }
              }
            }
          }
        }
      }
    }
    // Mega MENU FULL WIDTH
    >li{
      &.sub-menu-full-width{
        position: inherit;
        .sub-nav{
          width: 100%;
          top: calc(100% - 10px);
          >.sub-menu{
            width: 100%;
            padding: 15px;
            >li{
              padding-left: 15px;
              padding-right: 15px;
              a{
                padding-left: 0;
                padding-right: 0;
              }
            }
            &.max-columns-1{
              >li{
                display: block;
                width: 100%;
                a{
                  white-space: normal;
                }
              }
            }
            &.max-columns-2{
              >li{
                display: block;
                width: 50%;
                a{
                  white-space: normal;
                }
              }
            }
            &.max-columns-3{
              >li{
                display: block;
                width: 33.3333333%;
                a{
                  white-space: normal;
                }
              }
            }
            &.max-columns-4{
              >li{
                display: block;
                width: 25%;
                a{
                  white-space: normal;
                }
              }
            }
            &.max-columns-5{
              >li{
                display: block;
                width: 20%;
                a{
                  white-space: normal;
                }
              }
            }
            >.sub-menu{
              >li{
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}





/*-------------------------------------------------------------------

==  Color Setting

-------------------------------------------------------------------*/
.nav-menu li{
  transition: opacity .5s ease;
  &.not-hover{
    opacity: .3;
    transition: opacity .5s ease;
  }
}


.nav-menu li .sub-menu li a, .fl-mega-menu .nav-menu li .sub-menu li .sub-sub-menu a{
  color: #333333;
}


.fl-mega-menu > ul > li .sub-nav > ul.sub-menu-wide > li > a {
  text-transform: uppercase!important;
  line-height: 10px;
  letter-spacing: 1.2px;
  margin: 10px 0 20px 0;
  padding-bottom: 0!important;
}

